    <div   style="text-align: center;justify-content: center;align-items: center;align-self: center;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="text-align: center;justify-content: center;align-items: center;align-self: center;">
        <ul class="navbar-nav" style="text-align: center;justify-content: center;align-items: center;align-self: center;">
          <li class="nav-item ">
            <a routerLink="view-student" class="nav-link" class="btn btn-primary active" role="button" >View Client</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="view-agent" class="nav-link" class="btn btn-primary active" role="button" >View Agent</a>
          </li>          
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>
    